
html{
font-family: Arial;
font-size: 24px;
text-align: justify-right;
}

*{box-sizing:border-box;}

h1{margin-bottom:15px;}


div{
    float: right;
    border:1px solid black;
    margin: 0px,2px,2px,2px;
    padding:5px;
    background: grey;
}

p{
    border:1px solid black;
    position:relative;
    top: 0%;
    left:90%;
    color: white;
    border: 1px, solid black;
}

#Chicken{background:red;}
#Beef{background:blue;}
#Fish{background:green;}

@media (max-width:992px) {

    div{width=33.33%;}
}

@media (min-width:768px) and (max-width:991px) {

    div{width=50%;} 
    third{width=100%;}
}

@media (min-width:767px){

    div{width=100%;}

}
