
html{
font-family: Arial;
font-size: 24px;
text-align: justify;
box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1{
    margin-bottom:15px;
    text-align:center;
}

#div1 { 
        float: right;
        
        width: 100%;
        border:1px solid black;
        background: grey;
        padding: 0px 2px 2px 2px;
        margin: 2px
}

#div2 { 
        float: right;
        
        width: 100%;
        border:1px solid black;
        background: grey;
}

#div3 { 
        float: right;
        
        width: 100%;
        border:1px solid black;
        background: grey;
}

@media (min-width:992px) {

    #divl{        
        width:33.33%;
}
    
    #div2{        
        width:33.33%;
}

    #div3{        
        width:33.33%;
}
}
    
@media (min-width:768px) and (max-width:991px) {

     #divl{        
        width:50%;
}
    
   #div2{        
        width:50%;
}
    
 #div3{        
        width:100%;
}
    }

@media (max-width:767px){

     #divl{        
        width:50%;
}
    
   #div2{        
        width:50%;
}
    
 #div3{        
        width:100%;
}

}


h2{
    color: white;
    text-size: 15px;
    width: 100px;
    height: 50px;
    text-align:left;
    float: right;
    margin-bottom: 10px;
    border:1px solid black;
}

#Chicken{background:red;}
#Beef{background:blue;}
#Fish{background:#006400;}

